
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #58a6ff;
    position: absolute;
    width: 1000px;
    
}
.main{
position: absolute;
text-align: center;

}

img{
    width: 70px;
}

.img1{
    padding: 50px;
    width: 1000px;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #58a6ff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-links ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

main {
    margin-top: 80px;
    padding: 2rem;
    
    margin-left: auto;
    margin-right: auto;
}





.search-form {
    background-color: #58a6ff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    padding: 2rem;
    border-radius: 10px;
    align-items: start;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 1000px;
    text-align: start;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 1500px;
}

select, input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.date-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}



.show-trips-btn {
    grid-column: span 2;
    padding: 1rem;
    background-color: #1579eb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 1rem;
}
